.admin-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  cursor: unset;
  font-weight: bold;
  font-family: 'Tinos', serif;
  color: #00008B !important;
  background-color: white !important;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}
.admin-hovered-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  font-family: 'Tinos', serif;
  font-weight: normal;
  color: white;
  background-color: #00008B !important;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}