.services-menu-searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.services-menu-container {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;    
}
.services-menu-items {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;    
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: flex-start;
  justify-content: flex-start;  
  background-color: transparent;
  padding: 20px;
}
.service-menu-item-parent {
  display: flex;
  font-size: 16px;
  font-weight: bold;  
  cursor: pointer;  
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 1px;
  margin-top: 10px;
}
.service-menu-item-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;  
  color: #00008B;
  background-color: white;
  border-color: #00008B;
  border: 3px solid #00008B;
}
.service-menu-item-child-hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #00008B;
  border-color: white;
  border: 3px solid white;  
  /* -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; */
  /* -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s; */
}
.group-services-item {
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  color: #00008B;
  background: white;
  border: 1px solid #00008B;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.group-services-item-hovered {
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  color: white;
  background: #00008B;
  border: 1px solid #00008B;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.group-services-item-header {
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  text-align: center;
  color: #87CEEB;
  background: #00008B;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 150px
}
.selected-service-title {
  background-color: #00008B;
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding-bottom: 0px;
  height: 50px;
}
.selected-service-title-announcements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  color: #f9f7f1;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  height: 50px;
}
.div-services-frame {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  height: auto;
  background: #f9f7f1;
  border: 5px solid #00008B;
  overflow-y: hidden;  
  padding-bottom: 30px;
}
.div-services-frame-announcements {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  height: auto;  
  color: '#90785d';
  border: 5px solid #2f2f2f;
  overflow-y: hidden;  
  padding-bottom: 30px;
  background: #f9f7f1;
}
@media only screen and (max-width: 1920px) {

  .group-services-item-hovered,
  .group-services-item {
    font-size: 20px;
    padding: 10px;
  }
  .selected-service-title {
    font-size: 24px;
  } 
  .services-menu-announcement-container {
    transform: scale(1);
  }  
  .page-title {
    font-size: 36px;
  }  
  .searchBar {
    width: 800px;
    font-size: '43px';
  }
}
@media only screen and (max-width: 1366px) {
  
  .group-services-item-hovered,
  .group-services-item {
    font-size: 16px;
    padding: 8px;
  }
  .selected-service-title {
    font-size: 20px;
  }
  .service-menu-item-parent {
    max-height: 70px;
    transform: scale(0.8);
  }
  .services-menu-announcement-container {
    transform: scale(0.8);
  }  
  .div-services-frame {
    max-height: 60%;
  }  
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 200px) {  
}