/* Style the tab */
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  max-width: 170px;
  height: auto;
  text-align: center;
  cursor: unset;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: #0F6CBD;
  background-color: white;
  border-bottom: 2px solid #0F6CBD;
}
.selected-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  max-width: 170px;
  height: auto;
  text-align: center;
  cursor: unset;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #0F6CBD;
  border-bottom: 2px solid #0F6CBD;
}

@media only screen and (max-width: 3000px) {
  .selected-tab, .tab {
    font-size: 1.5rem;
    min-width: 150px;
    max-width: 250px;
    min-height: 50px;
    cursor: pointer;
  }  
}
@media only screen and (max-width: 1920px) {

  .selected-tab, .tab {
    font-size: 1.5rem;
    min-width: 150px;
    max-width: 250px;
    min-height: 50px;
    cursor: pointer;
  }  
}
@media only screen and (max-width: 1366px) {
  
  .menuItemName,.selected-tab, .tab {
    font-size: 0.8rem;
    min-width: 140px;
    max-width: 140px;
    cursor: pointer;
  }  
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 200px) {
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}