::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0072A0;
}

::-webkit-scrollbar-track {
  background: lightsalmon;
  /* color of the tracking area */
}

* {
  scrollbar-color: #0072A0 lightsalmon;
  scrollbar-width: thin;
}

.services-menu-searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services-menu-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 15px;
}

.services-menu-items {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: flex-start;
  justify-content: center;
}

.services-menu-items2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  background: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: center;
  justify-content: center;
}

.service-menu-item-parent {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  background-color: #9DD8EA;
  color: #00008B;
  border: 0px solid black;
  cursor: pointer;
  padding: 1px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 1px;
  margin-top: 10px;
}

.service-menu-item-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #9DD8EA;  
}

.service-menu-item-child-hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #2196F3;
}

.page-info-container {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-radius: 0px;
  opacity: 1;
  height: '100%';
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  color: #094fa3;
  font-weight: bolder;
}

.page-body {
  padding: 15px;
  overflow-y: auto;
  height: '100%';
}

.page-body-content {
  margin-top: 30px;
  padding: 0px;
  height: '100%';
  overflow-y: auto;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  text-align: center;  
  cursor: unset;
  font-weight: 600;    
  padding-left: 10px;
  padding-right: 10px;
  color: white;  
  background-color: #094fa3;
  border-bottom: 1px solid black;
}

.selected-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;  
  text-align: center;
  cursor: unset;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  color: #094fa3;
  background-color: white;
  border-bottom: 1px solid #094fa3;
}

.hovered-tab {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 200px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;  
  padding-left: 10px;
  padding-right: 10px;
  cursor: 'pointer';
  bottom: 0;
  color: #1b7ced;
  background-color: #05E9FF;
  border-bottom: 2px solid #1b7ced;
}

.announcement-item {
  display: 'flex';
  flex: 1;
  font-size: 1.5rem;
  font-style: 'bold|italic';
  font-weight: 'bolder';
  padding-top: 3;
  padding-bottom: 3;
  cursor: pointer;
}

.admin-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  cursor: unset;
  font-weight: normal;
  font-family: 'Tinos', serif;
  color: white !important;
  background-color: #0047AB !important;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

.admin-selected-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  font-family: 'Tinos', serif;
  font-weight: normal;
  background-color: #A7C7E7 !important;
  cursor: unset;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

.admin-hovered-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  font-family: 'Tinos', serif;
  font-weight: normal;
  background-color: #A7C7E7 !important;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

.menu-body {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 250px;
  height: 100%;
  border-radius: 0px;
  opacity: 0.9;
  padding: 10px;
  color: black;
  background: #FCF9B5;
  overflow-y: auto;
}

.menu-item {
  display: flex;
  flex: 1;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  cursor: pointer;
  background: #FCF9B5;
}

.menu-item-parent {
  display: flex;
  flex-direction: row;
  line-height: 22pt;
}

.menu-item-hovered {
  display: flex;
  flex: 1;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  color: white;
  background: #2196F3;
}

.group-services-item {
  font-size: 16px;
  padding: 10px;
  font-weight: bolder;
  color: #00008B;
  background: #87CEEB;
  padding: '10px'
}

.group-services-item-hovered {
  font-size: 16px;
  padding: 10px;
  font-weight: bolder;
  color: white;
  background: #00008B;
}

.btn-central {
  background-color: #004b8d;
  color: white !important;
  line-height: 18px;
  padding: 20px;
  max-width: 150px;
}

.btn-central:hover {
  background-color: #00658d;
  color: white !important;
  line-height: 18px;
  padding: 18px;
}

/* .servicesMenuItems::after{
  content: '';
  margin: auto;
} */

/* .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid red !important;
}

.MuiInput-root {
  border-bottom: 1px solid 53af5b !important;
} */

/* fieldset {
  border-radius: 60px;
} */