.services-menu-searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.services-menu-items {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  background: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: flex-start;
  justify-content: flex-start;
}

.service-menu-item {
  display: flex;
  font-size: 16px;
  font-style: 'bold|italic';
  color: black;
  border: 0px solid black;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
  width: 200px;
  min-width: 200px;
  min-height: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08), 0 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 1px;
}

.page-info-container {
  padding: 10px;
  display: flex;
  flex: 0.95;
  flex-direction: column;
  flex-wrap: column;
  background-color: white;
  border-radius: 0px;
  opacity: 0.9;
  height: 90%;
  margin: auto;
}
.page-title {
  text-align: center;
  font-size: 2.5rem;
  color: #094fa3;
  font-weight: bolder;
}
.page-body {
  padding: 10px;
  overflow-y: scroll;
}
.page-body-content {
  margin-top: 30px;
  padding: 0px;
  overflow-y: auto;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: unset;
  font-weight: 600;
  color: #094fa3;
  background-color: transparent;
}

.selected-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightBlue;
  border-bottom: 2px solid #094fa3;
  width: 200px;
  height: 70px;
  text-align: center;
  cursor: unset;
  font-weight: 600;
  color: #1b7ced;
}

.hovered-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05E9FF;
  border-bottom: 2px solid #1b7ced;
  width: 200px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  color: #1b7ced;
  padding-top: '5px';
  cursor: 'pointer';
  bottom: 0;
}

.services-menu-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
}

.announcement-item {
  display: 'flex';
  flex: 1;
  font-size: 1.5rem;
  font-style: 'bold|italic';
  font-weight: 'bolder';
  padding-top: 3;
  padding-bottom: 3;
  cursor: pointer;
}

.admin-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  cursor: unset;
  font-weight: normal;
  font-family: 'Tinos', serif;
  color: white !important;
  background-color: #0047AB !important;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

.admin-selected-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  font-family: 'Tinos', serif;
  font-weight: normal;
  background-color: #A7C7E7 !important;
  cursor: unset;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

.admin-hovered-item {
  display: flex;
  flex: 1;
  font-size: 1.5rem !important;
  font-family: 'Tinos', serif;
  font-weight: normal;
  background-color: #A7C7E7 !important;  
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
}

/* background: #FCF9B5; */
.menu-body {
  display: flex;
  flex-direction: column;
  min-width: 250px;  
  width: 250px;
  height: 90%;
  border-radius: 0px;
  opacity: 0.8; 
  padding: 10px;
  background: transparent;  
  color: black;  
  align-self: center;  
  background: #FCF9B5;
}

.menu-item {
  display: flex;
  flex: 1;
  font-size: 16px;  
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;  
  cursor: pointer;
  background: #FCF9B5;
}

.menu-item-parent {
  display: flex;
  flex-direction: row;
  line-height: 22pt;
}

.menu-item-hovered {
  display: flex;
  flex: 1;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;  
  font-weight: bolder;
  color: white;
  background: #2196F3;
}

.btn-central {
  background-color: #004b8d;
  color: white !important;
  line-height: 18px;
  padding: 20px;
  max-width: 150px;
}

.btn-central:hover {
  background-color: #00658d;
  color: white !important;
  line-height: 18px;
  padding: 18px;
}
/* .servicesMenuItems::after{
  content: '';
  margin: auto;
} */

/* .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid red !important;
}

.MuiInput-root {
  border-bottom: 1px solid 53af5b !important;
} */

/* fieldset {
  border-radius: 60px;
} */